* {
    background-color: black;
    border-color: rgb(47, 51, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wd-nav-bar {
    display: flex;
}

.wd-nav-bar > * {
    padding: 5px;
    margin: 2px 2px 2px 16px;
}

.wd-search-tuiter {
    background-color: darkgray;
    color: white;
    width: 100%;
    padding-left: 16px;
    border-radius: 50px;
}

.wd-explore-settings {
    margin-right: 12px;
}

.wd-tab-layout {
    display: flex;
    overflow: auto;
    margin-left: 16px;
}

.wd-tab-layout > * {
    font-size: 15px;
    padding: 16px;
    text-decoration: none;
    color: rgb(110, 118, 125);
    border: none;
}

.wd-selected-tab {
    color: rgb(29,161,242);
    border-bottom: 3px solid rgb(29,161,242);
}

.wd-post-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.wd-post {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 5px 5px 5px 16px;
    width: 100%;
}

.wd-post-content-secondary {
    color: rgb(110, 118, 125);
    padding: 1px 0;
}

.wd-post-content-primary {
    color: white;
    padding: 1px 0;
}

hr {
    width: 100%;
}

.wd-horizontal-post-content {
    display: flex;
    flex-direction: row;
}

.wd-post-right-content {
    height: 100px;
    width: 100px;
    margin-right: 16px;
    border-radius: 20%;
}

.wd-post-logo-round {
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.wd-post-right-menu {
    margin-right: 16px;
    font-size: 15px;
}

